<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/lib/bootstrap3.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/lib/bootstrapValidator/css/bootstrapValidator.min.css">

    <script type="text/javascript" src="/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/lib/babel/browser.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/lib/bootstrap3.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/lib/bootstrapValidator/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrapValidator/js/language/zh_CN.js"></script>
    <script type="text/javascript" src="/lib/common.js"></script>
    <script type="text/javascript" src="/lib/vue.min.js"></script>




</head>
<!-- 模板正文 -->
<body style="position: absolute;top:0px;left: 0px;right: 0px;bottom: 0px;">
<div id="divAll" style="height: 100%;">

</div>
</body>

<script src="/socket.io/socket.io.js"></script> 
<script type="text/javascript" src="/skyframe/lib/netclient.js"></script>
<script type="text/javascript" src="/skyframe/lib/skyframe.js"></script>

<script> 

    var net;
    var _token = '<%=token %>';
    var _method = '<%=method %>';
    $(function(){
        net = NetClient('<%= host %>','<%=server %>','<%=token %>',function(){
            net.getView(_method, '<%=params %>',function(result,parms){
                $("#divAll").html(result);
            });
        });
    });

</script>
</html>

